body {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto","Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.button {
  display: inline-block;
  padding: 10px 25px;

  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image:    -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image:    linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 2px 0 #ac1000;
          box-shadow: 0 1px 2px 0 #ac1000;
}

.button:hover,
.button:focus {
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image:    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image:    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
          box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), -o-linear-gradient(top, #e74a35, #f26843);
  background-image:    -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image:    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}

.link {
  vertical-align: middle;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.link:hover,
.link:focus,
.link:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;

  font: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.input:first-of-type:last-of-type {
  margin: 0;
}

.input:hover {
  border: 1px solid rgba(154, 154, 154, 0.8);
}

.input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.input::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.header {
  padding-top: 9px;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  line-height: 18px;
}

.header-nav__logo {
  display: block;
  width: 154px;
  height: 64px;
  margin-right: 6px;
}

.nav-header__list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-header__link {
  position: relative;

  padding: 8px 15px;

  color: #ffffff;

  border-radius: 20px;
}

.nav-header__link::after {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 9px;
  left: 15px;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.4);
}

.nav-header__link:hover::after,
.nav-header__link:focus::after,
.nav-header__link:active::after {
  content: none;
}

.nav-header__link:hover,
.nav-header__link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.nav-header__link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.nav-header .nav-header__link_current {
  color: #ffffff;

  background-color: #d07058;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-header__link_current::after {
  content: none;
}

.nav-header__item:hover .catalog-list,
.nav-header__link:hover + .catalog-list,
.nav-header__item:focus-within .catalog-list {
  display: block;
}

.catalog-list {
  position: absolute;
  top: 15px;
  left: -20px;
  z-index: 2;

  display: none;
  margin: 0;
  padding: 20px;

  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.nav-header__link:hover + .catalog-list,
.nav-header__link:focus + .catalog-list {
  display: block;
}

.catalog-list:hover {
  display: block;
}

.catalog-list__item {
  position: relative;

  width: 143px;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-list__item:first-child {
  border-radius: 5px 5px 0 0;
}

.catalog-list__item:last-child {
  border-radius: 0 0 5px 5px;
}

.catalog-list__item:first-child .catalog-list__link {
  border-radius: 5px 5px 0 0;
}

.catalog-list__item:last-child .catalog-list__link {
  border-radius: 0 0 5px 5px;
}

.catalog-list__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;

  color: #323232;
}

.catalog-list__link_nice {
  font-weight: bold;
}

.catalog-list__link_nice::after {
  content: "";
  position: absolute;
  right: 8px;
  bottom: 0;
  left: 8px;

  height: 1px;

  background-color: rgba(0, 0, 0, 0.4);
}

.catalog-list__link:hover,
.catalog-list__link:focus {
  color: #323232;

  background-color: #fbded8;
}

.catalog-list__link:active {
  color: #323232;

  background-color: #f6b5a5;
}

.catalog-list .catalog-list__link_current {
  color: #ffffff;

  background-color: #d07058;
}

.search {
  position: relative;

  display: block;
  width: 22px;
  height: 22px;
  margin: 0;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;

  width: 9px;
  height: 9px;

  border: 2px solid #ffffff;
  border-radius: 50%;
}

.search__link::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 19px;

  width: 2px;
  height: 9px;

  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__search {
  width: 33px;
  height: 33px;
  margin-right: 10px;
  margin-left: auto;
}

.search__link {
  position: relative;
  z-index: 2;

  display: block;
  width: 100%;
  height: 100%;

  border-radius: 20px;
}

.search__link:hover,
.search__link:focus {
  background-color: #f8f7f4;
}

.search__link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.search__link:focus::before,
.search__link:hover::before {
  border-color: #323232;
}

.search__link:focus::after,
.search__link:hover::after {
  background-color: #323232;
}

.search__window {
  display: block;
  width: 311px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search:focus-within {
  background-color: #f8f7f4;
}

.search:hover {
  background-color: #f8f7f4;
}

.search:focus-within .search__link::before {
  border-color: #323232;
}

.search:hover .search__link::before {
  border-color: #323232;
}

.search:focus-within .search__link::after {
  background-color: #323232;
}

.search:hover .search__link::after {
  background-color: #323232;
}

.search:hover .search__transparent-area,
.search:focus-within .search__transparent-area,
.log:hover .log__transparent-area,
.log:focus-within .log__transparent-area {
  display: block;
}

.search__link:hover + .search__transparent-area,
.search__link:focus + .search__transparent-area {
  display: block;
}

.transparent-area:hover {
  display: block;
}

.log {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.log__link {
  position: relative;
  z-index: 2;

  display: block;
  padding: 8px 15px 8px 45px;

  color: inherit;

  border-radius: 20px;
}

.log__link:hover + .log__transparent-area,
.log__link:focus + .log__transparent-area {
  display: block;
}

.log__link:hover,
.log__link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.log__link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.log__link:hover .log__svg g,
.log__link:focus .log__svg g {
  fill: #323232;
}

.log__svg {
  position: absolute;
  top: 50%;
  left: 15px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__log {
  margin-right: 10px;
}

.log:focus-within {
  color: #323232;

  background-color: #f8f7f4;
}

.log:focus-within .log__svg g {
  fill: #323232;
}

.form-log {
  width: 237px;
  padding: 20px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.form-log__button {
  margin-right: 20px;
}

.form-log__list {
  display: inline-block;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 13px;
  line-height: 24px;
  vertical-align: middle;
}

.form-log__link {
  color: #323232;
  text-decoration: underline;
}

.form-log__link:hover,
.form-log__link:focus,
.form-log__link:active {
  color: #e84d37;
}

.cart {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.cart:focus-within {
  background-color: #f8f7f4;
}

.cart__link {
  position: relative;
  z-index: 2;

  display: block;
  padding: 8px 15px 8px 45px;

  color: inherit;

  border-radius: 20px;
}

.cart__link:focus,
.cart__link:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.cart__link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.cart__link:focus .cart__svg g,
.cart__link:hover .cart__svg g {
  fill: #323232;
}

.cart__link:hover + .cart__transparent-area {
  display: block;
}

.cart__svg {
  position: absolute;
  top: 50%;
  left: 15px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* .cart:hover, */
.cart_have {
  color: #323232;

  background-color: #f8f7f4;
}

/* .cart:hover .cart__svg g {
  fill: #323232;
} */

.cart:focus-within .cart__svg g {
  fill: #323232;
}

/* .cart:hover .cart__transparent-area, */
.cart:focus-within .cart__transparent-area {
  display: block;
}

.cart-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  padding: 20px 15px;

  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.cart-box__table {
  width: 100%;
  margin-bottom: 14px;
  padding: 0 19px 0 27px;

  text-align: left;

  border-bottom: 1px solid #cacac7;
}

.cart-box__row {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item__data {
  padding: 0;
}

.cart-item__data:first-of-type {
  position: absolute;
  top: 50%;
  left: -30px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cart-item__close {
  padding: 10px;

  background: none;
  border: none;
}

.cart-item__close::before,
.cart-item__close::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 1px;
  height: 15px;

  background-color: #000000;
}

.cart-item__close::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.cart-item__close::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.cart-item__data:nth-of-type(3) {
  width: 218px;
}

.cart-item__price {
  color: #999999;
}

.cart-box__result {
  display: block;
  margin: 0;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.cart-box__input {
  width: 60px;

  font: inherit;

  background: none;
  border: none;
}

.cart-box-button {
  padding: 15px 19px;

  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.org-info {
  margin: 0;

  font-size: 14px;
}

.header__org-info {
  margin-left: 980px;

  text-align: right;
}

.org-info__phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.transparent-area {
  position: absolute;
  top: 20px;
  right: -20px;
  z-index: 1;

  display: none;
  padding: 20px;
}

.slider {
  position: relative;

  margin-bottom: 42px;

  text-align: center;
}

.nav-slider {
  position: absolute;
  bottom: 21px;
  z-index: 1;
}

.nav-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-slider__item {
  margin-right: 8px;
}

.nav-slider__item:last-child {
  margin: 0;
}

.nav-slider__link {
  display: block;
  width: 17px;
  height: 17px;

  border: 2px solid #ffffff;
  border-radius: 50%;
}

.nav-slider__link:hover,
.nav-slider__link:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.nav-slider__link.nav-slider__link_current {
  background-color: #ffffff;
}

.slider__slide {
  position: relative;

  display: none;
  padding-top: 272px;
}

.slider__slide_current {
  display: block;
}

.slider__img {
  position: absolute;
  top: -120px;
  left: 50px;
  z-index: -1;

  width: 1045px;
  height: 881px;

  background-repeat: no-repeat;
}

.slider__img_1 {
  background-image: url("../img/slide1.png");
}

.slider__img_2 {
  background-image: url("../img/slide2.png");
}

.slider__img_3 {
  background-image: url("../img/slide3.png");
}

.slide-slider__title {
  margin: 0;
  margin: 0 238px 29px;

  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slider__button {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
}

.features {
  margin-bottom: 35px;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-feature {
  width: 522px;
  padding: 18px 19px 24px;

  text-align: right;

  background-size: cover;
  border-radius: 15px;
}

.item-feature__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 35px;
  line-height: 41px;
  text-align: left;
}

.item-feature__text {
  margin: 0;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.item-feature__button {
  font-size: 18px;
  line-height: 24px;
}

.feature__item_bg_raspber {
  background-color: #630422;
  background-image: url("../img/raspber.jpg");
}

.feature__item_bg_chock {
  background-color: #30150a;
  background-image: url("../img/chock.jpg");
}

.main-page__catalog {
  margin-bottom: 40px;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  position: relative;

  width: 286px;
  margin-bottom: 34px;
  padding-top: 5px;

  text-align: center;

  border-radius: 5px;
}

.catalog__item:last-child {
  margin-right: auto;
}

.main-page__catalog .catalog__item {
  margin-bottom: 0;
}

.flag {
  position: relative;
}

.flag_hit::before {
  content: "";
  position: absolute;

  width: 61px;
  height: 61px;

  background: url("../img/hit-icon.svg");
}

.item-catalog__img {
  width: 267px;
  height: 267px;
  margin-bottom: 6px;
}

.item-catalog__price {
  position: absolute;
  top: 215px;
  left: 10px;

  max-width: 280px;
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  word-break: break-all;
}

.item-catalog__weight {
  font-size: 30px;
  line-height: 45px;
}

.item-catalog__title {
  margin: 0;
  padding: 0 14px;

  font-weight: 500;
  text-align: center;
}

.about {
  margin-bottom: 40px;
  padding: 25px 20px;

  color: #323232;

  background-color: #ecdec3;
  border-radius: 15px;
}

.about_waffle {
  background-image: url("../img/waffle.png");
}

.about__lead {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: -22px;
  margin-left: 55px;
  padding: 0;

  list-style: none;
  font-weight: normal;
}

.about__item {
  position: relative;

  width: 476px;
  margin-right: 90px;
  margin-bottom: 22px;
}

.about__item:nth-child(2n) {
  margin-right: 0;
}

.about__item::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -56px;

  width: 49px;
  height: 49px;
}

.about__item_ice::before {
  background: url("../img/feature1.svg");
}

.about__item_cow::before {
  background: url("../img/feature2.svg");
}

.about__item_leaf::before {
  background: url("../img/feature3.svg");
}


.about__item_cold::before {
  background: url("../img/feature4.svg");
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.item-blog {
  width: 520px;
  padding: 22px 20px 80px;

  color: #323232;

  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.item-blog_article-1 {
  background-color: #ffffff;
  background-image: url("../img/art1.jpg");
}

.item-blog__type {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 500;
}

.item-blog__title {
  width: 281px;
  margin: 0;
}

.item-blog__link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.mailing {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;
  padding: 30px 20px;

  background-color: #f8f7f4;
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
  border-image-source: url(../img/shirt.svg);
  border-image-slice: 5;
}

.mailing__lead {
  margin: 0;
  margin-bottom: 34px;

  font-weight: normal;
  color: #5a5a5a;
}

.form-mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-mailing .form-mailing__input.input {
  margin-right: 10px;

  font-size: 16px;
  line-height: 24px;
}

.form-mailing__button {
  padding: 10px 20px;

  font-size: 18px;
  line-height: 24px;
}

.map {
  position: relative;

  width: 100%;
  height: 430px;
}

.map__iframe {
  width: 100%;
  min-width: 1200px;
  height: 430px;

  background: #cccccc url("../img/map.png") no-repeat center;
}

.map__container {
  position: relative;
}

.adress {
  position: absolute;
  top: 64px;
  right: 29px;

  width: 250px;
  padding: 30px 25px;

  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;
}

.adress__description {
  margin: 0;
  padding-right: 35px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.adress__place {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 24px;
}

.adress__call {
  display: block;
  margin-bottom: 5px;
  margin-bottom: 8px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.adress__phone {
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
}

.adress__phone-number {
  display: block;

  font-size: 18px;
  color: #323232;
}

.adress__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;

  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px 0 32px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 11px;
}

.social__item:last-child {
  margin: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social__link:hover path,
.social__link:focus path,
.social__link:hover g,
.social__link:focus g {
  fill: #ffffff;
}

.social__link:hover,
.social__link:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social__link:active path,
.social__link:active g {
  fill: #e9e9e9;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 13px;
  line-height: 16px;
}

.footer-links__list {
  margin: 0;
  margin-right: 32px;
  padding: 0;

  list-style: none;
}

.footer-links__list:last-of-type {
  margin: 0;
}

.footer-links__item {
  margin-bottom: 4px;
}

.footer-links__link {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.footer-links__link_like {
  position: relative;

  font-weight: bold;
}

.footer-links__link_like::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -20px;

  width: 15px;
  height: 13px;

  background: url("../img/like-icon.svg");
}

.author {
  margin: 0;

  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.author__img {
  display: block;
  width: 109px;
  height: 38px;
  margin-bottom: 4px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 478px;
  padding: 20px 25px 25px;

  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-show {
  display: block;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: block;
  width: 19px;
  height: 19px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  top: 0;

  width: 2px;
  height: 18px;

  background-color: #000000;
}

.popup__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-feed {
  font-size: 16px;
}

.form-feed__lead {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.form-feed__input {
  width: 267px;

  font-size: 16px;
  line-height: 24px;
}

.form-feed__field {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;

  resize: none;
}

.form-feed__field::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.form-feed__field::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.form-feed__field:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.form-feed__field::-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.form-feed__field::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.form-feed__field:hover {
  border: 1px solid rgba(154, 154, 154, 0.8);
}

.form-feed__button {
  float: right;
}

.catalog-page {
  margin-top: -26px;
  margin-bottom: 28px;

  text-align: right;
}

.catalog-page + .footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-page > * {
  text-align: initial;
}

.bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  list-style: none;
}

.bread-crumbs__item {
  position: relative;

  margin-right: 22px;
}

.bread-crumbs__item::after {
  content: "»";
  position: absolute;
  top: 50%;
  right: -15px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bread-crumbs__item:last-child {
  margin: 0;
}

.bread-crumbs__item:last-child::after {
  content: none;
}

.bread-crumbs__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.catalog-page__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 35px;
  line-height: 41px;
  text-align: left;
}

.filter {
  margin-bottom: 17px;

  font-weight: 500;
  line-height: 18px;
}

.form-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 880px;
}

.fieldset-form {
  padding: 0;

  border: none;
}

.form-filter__fieldset {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 16px;
}

.form-filter__fieldset:last-child {
  margin-bottom: 0;
}

.fieldset-form__title {
  margin-bottom: 5px;
  margin-left: 16px;

  font-size: 14px;
  line-height: 16px;
}

.select {
  position: relative;
}

.select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;

  border: 6px solid transparent;
  border-right: none;
  border-left: 8px solid #ffffff;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.fieldset-form__select {
  padding: 9px 34px 9px 13px;

  font: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 30px;

  -webkit-appearance: none;
}

.fieldset-form__select::-ms-expand {
  display: none;
}

.fieldset-form__select option {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.select:hover .fieldset-form__select,
.select:focus-within .fieldset-form__select {
  color: #323232;

  background-color: #f8f7f4;
}

.select:hover::before,
.select:focus-within::before {
  border-left-color: #323232;
}

.range {
  position: relative;

  width: 220px;
  height: 37px;
}

.range__line {
  position: absolute;
  top: 50%;

  height: 3px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.range__line_back {
  left: 21px;

  width: 178px;

  background-color: rgba(255, 255, 255, 0.5);
}

.range__line_up {
  left: 40px;

  width: 100px;

  background-color: #f8f7f4;
}

.range__button {
  position: absolute;
  top: 50%;
  z-index: 1;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 22px;
  height: 22px;
  padding: 0;

  background: #ababab;
  border: 9px solid #ffffff;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.range__button_min {
  left: 34px;
}

.range__button_max {
  right: 66px;
}

.fieldset-form__range {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.fieldset-form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding: 10px 14px;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.fieldset-form__item {
  margin-right: 18px;
}

.fieldset-form__item:last-child {
  margin: 0;
}

.fieldset-form__list_check .fieldset-form__item {
  margin-right: 22px;
}

.fieldset-form__list_check .fieldset-form__item:last-child {
  margin-right: 0;
}

.fieldset-form__label {
  position: relative;

  padding-left: 32px;
}

.fieldset-form__control_radio::before,
.fieldset-form__control_radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fieldset-form__control_radio::before {
  width: 22px;
  height: 22px;

  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.fieldset-form__control_radio::after {
  content: none;
  left: 6px;

  width: 10px;
  height: 10px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}


.fieldset-form__label:hover .fieldset-form__control_radio::before {
  border-color: rgba(255, 255, 255, 1);
}

.fieldset-form__label:hover .fieldset-form__control_radio::after {
  background-color: rgba(255, 255, 255, 1);
}

input:checked + .fieldset-form__control_radio::after {
  content: "";
}

.fieldset-form__label input:disabled + .fieldset-form__control_radio::before {
  border-color: rgba(255, 255, 255, 0.4);
}

input:disabled + .fieldset-form__control_radio::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.fieldset-form__control_check {
  position: absolute;
  top: 50%;
  left: 0;

  width: 20px;
  height: 20px;

  background: url("../img/checkbox-off.svg");
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.8;
}

input:checked + .fieldset-form__control_check {
  width: 24px;
  height: 20px;

  background: url("../img/checkbox-on.svg");
}

.fieldset-form__label:hover .fieldset-form__control_check,
input:focus + .fieldset-form__control_check {
  opacity: 1;
}


.fieldset-form__label input:disabled + .fieldset-form__control_check {
  opacity: 0.4;
}

.form-filter__button {
  padding: 8px 30px;

  color: #ffffff;

  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-filter__button:hover,
.form-filter__button:focus {
  color: #323232;

  background: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-filter__button:active {
  color: #323232;

  background: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.catalog-page .main-catalog {
  margin-bottom: 42px;
}

.item-catalog:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.item-catalog:focus-within {
  background-color: rgba(255, 255, 255, 0.2);
}

.item-catalog__bottom-area {
  position: absolute;
  z-index: 1;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 286px;
  margin: 0;
  padding: 13px 40px 22px;

  background-color: rgba(255, 255, 255, 0.2);
}

.item-catalog:hover .item-catalog__bottom-area {
  display: block;
}

.item-catalog:focus-within .item-catalog__bottom-area {
  display: block;
}

.pagination {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;

  list-style: none;
  vertical-align: middle;
}

.pagination__item {
  position: relative;
}

.pagination__item:last-child {
  width: 8px;
  margin-left: 18px;
}

.pagination__item:first-child {
  width: 8px;
  margin-right: 18px;
}

.pagination__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 28px;
  padding: 5px;

  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  border-radius: 50%;
}

.pagination__link-next {
  position: absolute;
  top: 50%;

  padding: 5px;

  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.pagination__link_backward {
  -webkit-transform: rotate(135deg) translateY(50%);
      -ms-transform: rotate(135deg) translateY(50%);
          transform: rotate(135deg) translateY(50%);
}

.pagination__link_forward {
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.pagination__link_disabled {
  opacity: 0.2;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: rgba(255, 255, 255, 0.2);
}


.pagination__link.pagination__link_current {
  color: #000000;

  background-color: #ffffff;
}

.pagination__link:active {
  color: #000000;

  background-color: #ffffff;
}
