body {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto","Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
} */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.button {
  display: inline-block;

  font: inherit;
  text-align: center;
  color: #ffffff;

  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 1px 2px 0 #ac1000;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.link {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link:hover,
.link:focus,
.link:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.top-header {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;

  line-height: 18px;
}

.nav-header a {
  display: flex;
}

.header-nav__logo {
  margin-right: 25px;
}

.nav-header__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-header__item {
  margin-right: 25px;
}

.nav-header__item:last-child {
  margin-right: 0;
}

.catalog-list {
  position: absolute;

  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-header__link {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-header__link:hover,
.nav-header__link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.nav-header__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.nav-header .nav-header__link_current {
  color: #ffffff;

  background-color: #d07058;
  box-shadow: none;
}

.catalog-list {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  background-color: #f8f7f4;
}

.catalog-list__link {
  color: #323232;
}

.catalog-list__link:hover,
.catalog-list__link:focus {
  color: #323232;

  background-color: #fbded8;
}

.catalog-list__link:active {
  color: #323232;

  background-color: #f6b5a5;
}

.catalog-list .catalog-list__link_current {
  color: #ffffff;

  background-color: #d07058;
}

.search {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.header__search {
  margin-right: 10px;
  margin-left: auto;
}

.search__window {
  position: absolute;

  display: none;
}

.search:hover {
  background-color: #f8f7f4;
}

.header__search:hover .search__window {
  display: block;
}

.log {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
}

.header__log {
  margin-right: 10px;
}

.log:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.form-log {
  position: absolute;

  display: none;
}

.log:hover .form-log {
  display: block;
}

.cart {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
}

.cart:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.cart-box {
  display: none;
}

.org-info {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
}

.header__org-info {
  margin-left: 980px;

  text-align: right;
}

.org-info__phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.slider {
  margin-bottom: 40px;
  padding-top: 269px;

  text-align: center;
}

.nav-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__slide {
  display: none;
}

.slider__slide_current {
  display: block;
}

.slide-slider__title {
  margin: 0;
  margin: 0 238px 25px;

  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;
}

.features {
  margin-bottom: 40px;
}

.feature__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-feature {
  width: 520px;
  padding: 20px;

  text-align: right;
}

.item-feature__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 35px;
  line-height: 41px;
  text-align: left;
}

.item-feature__text {
  margin: 0;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.item-feature__button {
  font-size: 18px;
  line-height: 24px;
}

.feature__item_bg_raspber {
  background-color: #630422;
}

.feature__item_bg_chock {
  background-color: #30150a;
}

.main-page__catalog {
  margin-bottom: 40px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  position: relative;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;

  text-align: center;
}
.main-page__catalog .catalog__item {
  margin-bottom: 0;
}
.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.item-catalog__price {
  position: absolute;
  top: 215px;

  margin: 0;

  font-size: 45px;
  line-height: 45px;
}

.item-catalog__weight {
  font-size: 30px;
  line-height: 45px;
}

.item-catalog__title {
  margin: 0;
  padding: 0;

  font-weight: 500;
  text-align: center;
}

.item-catalog__button {
  display: none;
}

.about {
  margin-bottom: 40px;
  padding: 25px;

  color: #323232;

  background-color: #ecdec3;
}

.about__lead {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 50px;
  padding: 0;

  list-style: none;
  font-weight: normal;
}

.about__item {
  width: 476px;
  margin-right: 90px;
  margin-bottom: 30px;
}

.about__item:nth-child(2n) {
  margin-right: 0;
}

.news-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.item-blog {
  width: 520px;
  padding: 25px 20px 80px;

  color: #323232;

  background-color: #ffffff;
}

.item-blog__type {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 500;
}

.item-blog__title {
  width: 281px;
  margin: 0;
}

.item-blog__link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.mailing {
  width: 520px;
  padding: 25px 20px;

  background-color: #f8f7f4;
}

.mailing__lead {
  font-weight: normal;
  color: #5a5a5a;
}

.map {
  position: relative;

  width: 100%;
}

.adress {
  position: absolute;
  top: 0;
  left: 0;

  width: 250px;
  padding: 30px 25px;

  color: #323232;

  background-color: #ffffff;
}

.adress__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.adress__place {
  font-size: 18px;
  line-height: 24px;
}

.adress__call {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.adress__phone {
  font-size: 14px;
}

.adress__phone-number {
  font-size: 18px;
  color: #323232;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 32px;
}

.social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-links__item {
  margin-right: 30px;
}

.footer-links__link {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.footer-links__link_like {
  font-weight: bold;
}

.author {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
}

.author__img {
  display: block;
}

.popup {
  display: none;

  background-color: #f8f7f4;
}

.form-feed__lead {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.catalog-page {
  text-align: right;
}

.catalog-page > * {
  text-align: initial;
}

.bread-crumbs {
  display: flex;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  list-style: none;
}

.bread-crumbs__item {
  margin-left: 22px;
}

.bread-crumbs__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.catalog-page__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 35px;
  line-height: 41px;
}

.filter {
  font-weight: 500;
  line-height: 18px;
}

.form-filter {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin-bottom: 40px;
}

.fieldset-form {
  margin: 0;
  margin-right: 15px;
  padding: 0;

  border: none;
}

.fieldset-form__title {
  font-size: 14px;
  line-height: 16px;
}

.fieldset-form__select {
  background-color: rgba(255, 255, 255, 0.2);
}

.range {
  width: 220px;
}

.fieldset-form__range {
  background-color: rgba(255, 255, 255, 0.2);
}

.fieldset-form__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding: 10px 20px;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
}

.fieldset-form__item {
  margin-left: 50px;
}

.form-filter__button {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
}

.item-catalog:hover,
.item-catalog:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination {
  display: inline-flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__item:last-child {
  margin: 0;
}

.pagination__link {
  color: #ffffff;
}

.pagination__link_current {
  color: #000000;

  background-color: #ffffff;
}
